.ChatInput {
    width: 100%;
    display: block;
    margin: auto;
    // margin-bottom: 5px;
    background-color: rgb(79, 2, 246);
    position: fixed;
    bottom: 0;
    padding-top: 2vh;
    padding-bottom: 2vh;
    z-index: 2;

    input {
        display: block;
        padding: 10px;
        margin: auto;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 95%;
        box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
        background-color: white;
    }
}