.Message {
    display: block;
    background-color: white;
    margin: 10 auto;
    margin-bottom: 10px;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    border-radius: 5px;
    clear: both;
    z-index: 2;

    &.me {
        color: white;
        float: right;
        background-color: #328ec4;
    }
}