.header {
    background-image: linear-gradient(#3dfff7ff, #ffffff00);
    width: 100%;
    margin: 0;
    padding: 10px;
    color: white;
    position: fixed;

    img {
        margin: 0;
        padding: 0;
        width: 3.5vw;
        height: auto;
    }
}
